# =========================
# Global
# =========================
.DS_Store
*.log
*.tmp
*.swp
*.bak
*.tar
*.zip
*.tgz
*.gz

# =========================
# Terraform
# =========================
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.json
crash.log

# =========================
# Helm
# =========================
**/charts/*
**/Chart.lock
**/values-override.yaml
**/templates/*.rendered.yaml

# =========================
# Kubernetes
# =========================
*.kubeconfig
.kube/
*.yaml.save
*.yaml.bak

# =========================
# Python (FastAPI backend)
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/
env/
build/
dist/
*.db

# =========================
# Node / React Frontend
# =========================
node_modules/
build/
coverage/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json.backup
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Docker / Podman
# =========================
*.tar
*.img
*.container
tmp/
**/tmp/
**/.dockerignore
colima/
.docker/
.podman/
podman-machine-default

# =========================
# Kind / ArgoCD / K8s
# =========================
*.kubeconfig
.kube/
.kubectl-cache/
*.out
/tmp/argocd-pf.log
/tmp/frontend-pf.log
/tmp/grafana-pf.log

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
*.iml
*.sublime*
*.code-workspace
.history/
project.code-workspace

# =========================
# OS / Misc
# =========================
Thumbs.db
ehthumbs.db
Icon?
desktop.ini
$RECYCLE.BIN/
